html,
body {
  display: flex;
  flex-flow: column;
  height: 100%;
  margin: 0px;
  overflow: hidden;
}

#BirdTrackerMap {
  flex-grow: 1;
  z-index: 1;
  background-color: #aad3df;
}
nav {
  max-height: 7vw;
  font-family: "Poppins", sans-serif;
  color: white;
  padding: 10px;
}

#logo {
  float: left;
  padding-left: 5vw;
  height: 100%;
}

#impressum-div {
  float: right;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5vw;
}

#nav-a {
  flex: 0;
  text-decoration: none;
  color: #b6d128;
  font-family: "Poppins", sans-serif;
}
#nav-a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #b6d128;
  transition: width 0.3s;
}
#nav-a:hover::after {
  width: 100%;
  transition: 0.3s;
}

.impressum {
  background-color: #e2eea3;
  border-color: #e2eea3;
  border-width: 0vw 2vw 2vw 2vw;
  border-style: solid;
  margin: 0 3% 3% 3%;
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: scroll;
}

.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.modal-contant {
  width: 500px;
  height: 400px;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  padding: 20px;
  position: relative;
}
.logo {
  width: 100px;
  height: 100px;
}
.safe {
  background-color: white;
  border: 2px solid white;
  border-radius: 30px;
  text-decoration: none;
  padding: 10px 28px;
  color: #b6d128;
  border: 2px solid #b6d128;
  margin-top: 10px;
  display: inline-block;
  font-family: "Poppins", sans-serif;
}
.safe:hover {
  background-color: #e2eea3;
  color: #b6d128;
  border: 2px solid #b6d128;
}
input {
  width: 50%;
  display: block;
  margin: 10px auto;
  font-family: "Poppins", sans-serif;
}
textarea {
  width: 50%;
  display: block;
  margin: 10px auto;
  resize: none;
  font-family: "Poppins", sans-serif;
}
.closebtn {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  font-weight: bold;
  cursor: pointer;
  z-index: 2000;
}
.delete {
  background-color: white;
  border: 2px solid #b6d128;
  border-radius: 30px;
  text-decoration: none;
  padding: 10px 28px;
  color: #b6d128;
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
}
.delete:hover {
  background-color: #e2eea3;
}
.leaflet-popup-content {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 14px;
}
#close {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  font-weight: bold;
  cursor: pointer;
  z-index: 2000;
}

.box {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 20%;
}
.sideSuche {
  position: relative;
  display: inline-block;
  font-size: 18px;
  box-sizing: border-box;
  transition: 0.5s;
}
.sideSuche[type="text"] {
  background: #fff;
  width: 200px;
  height: 30px;
  outline: none;
  padding: 0 25px;
  border-width: 1px;
  border-radius: 25px 0 0 25px;
}
.sideSuche[type="button"] {
  position: relative;
  left: -1px;
  border-radius: 0 25px 25px 0;
  width: 70px;
  height: 30px;
  border-width: 1px;
  outline: none;
  cursor: pointer;
  background-color: #e2eea3;
  color: #b6d128;
}
.sideSuche[type="button"]:hover {
  background-color: white;
  color: #b6d128;
}

.background {
  width: 100%;
  height: auto;
  background-color: #aad3df;
}
